{% extends 'layout.html' %}
{% from "_util.html" import render_field %}
{% block content %}

<div class="content-section">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log in</legend>
            
            {{ render_field(form.email, placeholder="Email") }}
            {{ render_field(form.password, placeholder="Password") }}

        
           
            <div class="form-check pt-3">
                {{ form.remember_me(class='form-check-input') }}
                {{ form.remember_me.label(class='form-check-label')}}
                
            </div>
        </fieldset>
        <div class="form-group pt-3">
            Verify you're human: {{ form.recaptcha }}

            {% for error in form.recaptcha.errors %}
            <ul>
                <li>{{error}}</li>
                <span style="color: red;">{{ error }}</span>
            </ul>

            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info mt-4 mb-4") }}
        </div>
        <small class="text-muted">
            <a href="#">Forgot Password ?</a>
        </small>
        
    </form>
    
</div>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{{ url_for('login')}}">Sign Up Now </a>
    </small>
</div>

{% endblock content %}